/dashboard
/img/laerbeekbos
/recorded_routes
/venv
saved_paths/binnenplein-kampus-kaai.json
/saved_paths
/saved_paths
saved_paths/laerbeekbos-wandeling-vanaf-tramhalte-tentoonstellingenlaan.json
saved_paths/laerbeekbos-wandeling-vanaf-tramhalte-tentoonstellingenlaan.json
/.claude
flask-annotator/.idea/vcs.xml
flask-annotator/.idea/modules.xml
flask-annotator/.idea/misc.xml
flask-annotator/.idea/inspectionProfiles/profiles_settings.xml
flask-annotator/.idea/flask-annotator.iml
